Node red flow.json
[{"id":"acd8b4ee.c42348","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d0286ce.d94cea","type":"ui_form","z":"acd8b4ee.c42348","name":"","label":"","group":"2ad5e88b.010438","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["f5953b74.3794c8"]]},{"id":"f5953b74.3794c8","type":"function","z":"acd8b4ee.c42348","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["27620c53.87bbc4","8960822f.057fd"]]},{"id":"2d623fb4.7642a","type":"function","z":"acd8b4ee.c42348","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["8347f727.f0b338"]]},{"id":"27620c53.87bbc4","type":"watson-conversation-v1","z":"acd8b4ee.c42348","name":"My first skill","workspaceid":"16f7ca32-8589-4c7c-8c41-1abd15da0a49","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/125e9385-db0e-436e-bc67-db089def8c58","timeout":"","optout-learning":false,"x":390,"y":80,"wires":[["6d4d072a.2f05b8","2d623fb4.7642a"]]},{"id":"8960822f.057fd","type":"ui_text","z":"acd8b4ee.c42348","group":"80f0bac9.552608","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":370,"y":380,"wires":[]},{"id":"6d4d072a.2f05b8","type":"debug","z":"acd8b4ee.c42348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":80,"wires":[]},{"id":"8347f727.f0b338","type":"ui_text","z":"acd8b4ee.c42348","group":"80f0bac9.552608","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":730,"y":360,"wires":[],"icon":"node-red/bridge.svg"},{"id":"2ad5e88b.010438","type":"ui_group","z":"","name":"chatbot","tab":"28271f06.f14bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"80f0bac9.552608","type":"ui_group","z":"","name":"Assistant","tab":"28271f06.f14bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"28271f06.f14bc","type":"ui_tab","z":"","name":"Television care centre","icon":"dashboard","disabled":false,"hidden":false}]